.nested_fields.mb-3{ style: 'overflow: hidden'}
  = f.input :content, label: false, input_html: { class: 'js-problem-input' }
  = link_to_remove_association "削除", f, class: 'btn btn-danger float-right'
  .try-things
    = f.simple_fields_for :try_things do |try_thing|
      = render 'try_thing_fields', f: try_thing
    .links
      = link_to_add_association 'T追加', f, :try_things, class: 'btn btn-warning float-right'
