= @kpt.errors.full_messages.first
%h1.h3
  = simple_form_for [@project, @kpt], class: 'hgoe' do |f|
    = f.input :target_on
    .card.p-3.mb-3
      %h2
        Keep
      = f.simple_fields_for :keep_things do |keep_thing|
        = render 'keep_thing_fields', f: keep_thing
        .links
          = link_to_add_association 'K追加', f, :keep_things, class: 'btn btn-info'
    .card.p-3.mb-3.js-problem
      %h2
        Problem
      = f.simple_fields_for :problem_things do |problem_thing|
        = render 'problem_thing_fields', f: problem_thing
      .links
        = link_to_add_association 'P追加', f,
        :problem_things,
        class: 'btn btn-info'
    = f.input :description
    = f.button :submit, class: 'btn btn-primary'