%h1.h3.page-header
  プロジェクト一覧
- if current_user.projects.blank?
  .alert.alert-warning
    所属プロジェクトがありません
  .jumbotron.text-center
    = image_tag '/images/top_main.png'
    %p プロジェクトを作成して、ふりかえりをしましょう！
    = link_to 'プロジェクト新規作成', new_project_path, class: 'btn btn-primary'
- else
  %table.table.table-striped
    %thead.thead-dark
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} プロジェクト名
        %th{:scope => "col"} 最終更新日
        %th.text-center{:scope => "col"} 操作
    %tbody
      - @projects.each do |project|
        %tr
          %th{:scope => "row"} 1
          %td= link_to project.name, project_kpts_path(project)
          %td
            = project.kpts.last&.created_at
          %td.text-center
            = link_to 'ふりかえり開始', new_project_kpt_path(project), class: 'btn btn-outline-primary'
